<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.nodeclipse.ui.wizards.category"
            name="Nodejs">
      </category>
      <wizard
            category="org.nodeclipse.ui.wizards.category"
            class="org.nodeclipse.ui.wizards.NodejsProjectWizard"
            finalPerspective="org.nodeclipse.ui.perspectives.NodejsPerspective"
            icon="icons/nodejs.png"
            id="org.nodeclipse.ui.wizards.NodejsProjectWizard"
            name="Nodejs Project"
            project="true">
         <description>
            Create a new Nodejs language project
         </description>
      </wizard>
      <wizard
            category="org.nodeclipse.ui.wizards.category"
            class="org.nodeclipse.ui.wizards.NodejsFileWizard"
            finalPerspective="org.nodeclipse.ui.perspectives.NodejsPerspective"
            icon="icons/nodejs.png"
            id="org.nodeclipse.ui.wizards.NodejsFileWizard"
            name="Nodejs Source File">
         <description>
            Create a new Nodejs source file
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.nodeclipse.ui.editors.NodejsEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="js"
            icon="icons/nodejs.png"
            id="org.nodeclipse.ui.editors.NodejsEditor"
            name="Nodejs Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/nodejs-nature.png"
            id="org.nodeclipse.ui.NodejsNature.Image"
            natureId="org.nodeclipse.ui.NodejsNature">
      </image>
   </extension>
   <extension
         id="org.nodeclipse.ui.NodejsNature"
         name="Nodejs Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.nodeclipse.ui.nature.NodejsNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.nodeclipse.ui.perspectives.NodejsPerspective"
            icon="icons/nodejs.png"
            id="org.nodeclipse.ui.perspectives.NodejsPerspective"
            name="Nodejs">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut
               id="org.nodeclipse.ui.perspectives.NodejsPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <perspectiveShortcut
               id="org.nodeclipse.ui.perspectives.NodejsPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="org.nodeclipse.ui.wizards.category"
            type="new"
            wizardId="org.nodeclipse.ui.wizards.NodejsProjectWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="org.nodeclipse.ui.wizards.category"
            type="new"
            wizardId="org.nodeclipse.ui.wizards.NodejsFileWizard">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.nodeclipse.ui.npm.LaunchConfigurationDelegate"
            id="org.nodeclipse.ui.npm.LaunchConfigurationType"
            modes="run, debug"
            name="NPM">
      </launchConfigurationType>
   </extension>
   <extension
         point= "org.eclipse.debug.ui.launchConfigurationTypeImages" >
      <launchConfigurationTypeImage
            configTypeID= "org.nodeclipse.ui.npm.LaunchConfigurationType"
            icon= "icons/npm/npm.png"
            id= "org.nodeclipse.ui.npm.LaunchConfigurationTypeImage" >
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point= "org.eclipse.debug.ui.launchShortcuts" >
      <shortcut
            class= "org.nodeclipse.ui.npm.InstallLaunchShortcut"
            icon= "icons/npm/npm.png"
            id= "org.nodeclipse.ui.npm.InstallLaunchShortcut"
            label= "npm install"
            modes= "run, debug" >
         <configurationType
                id= "org.nodeclipse.ui.npm.LaunchConfigurationType" >
         </configurationType>
         <contextualLaunch>
              <enablement>
                 <with
                       variable= "selection" >
                    <count
                          value= "1" >
                    </count>
                    <iterate>
                       <or>
                          <instanceof value="org.eclipse.core.resources.IFile"/>
                          <test
                                property= "org.eclipse.debug.ui.matchesPattern"
                                value= "package.json" >
                          </test>
                       </or>
                      </iterate>
                 </with>
              </enablement>
         </contextualLaunch>
       </shortcut>
   </extension>
   <extension
         point= "org.eclipse.debug.ui.launchShortcuts" >
      <shortcut
            class= "org.nodeclipse.ui.npm.LaunchShortcut"
            icon= "icons/npm/npm.png"
            id= "org.nodeclipse.ui.npm.LaunchShortcut"
            label= "npm ..."
            modes= "run, debug" >
         <configurationType
                id= "org.nodeclipse.ui.npm.LaunchConfigurationType" >
         </configurationType>
         <contextualLaunch>
              <enablement>
                 <with
                       variable= "selection" >
                    <count
                          value= "1" >
                    </count>
                    <iterate>
                       <or>
                          <instanceof value="org.eclipse.core.resources.IFile"/>
                          <test
                                property= "org.eclipse.debug.ui.matchesPattern"
                                value= "package.json" >
                          </test>
                       </or>
                      </iterate>
                 </with>
              </enablement>
         </contextualLaunch>
       </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
          <launchConfigurationTabGroup
       		class= "org.nodeclipse.ui.npm.LaunchConfigurationTabGroup"
      		id= "org.nodeclipse.ui.npm.LaunchConfigurationTabGroup"
        	type= "org.nodeclipse.ui.npm.LaunchConfigurationType" >
		  </launchConfigurationTabGroup>
   </extension>
</plugin>