<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension 
          point="org.eclipse.debug.core.launchConfigurationTypes"> 
      <launchConfigurationType 
            delegate="org.nodeclipse.debug.launch.LaunchConfigurationDelegate" 
            id="org.nodeclipse.debug.launch.LaunchConfigurationType" 
            modes="run, debug" 
            name="Nodejs Application">
      </launchConfigurationType> 
    </extension>
    <extension   
          point= "org.eclipse.debug.ui.launchConfigurationTypeImages" >   
       <launchConfigurationTypeImage   
             configTypeID= "org.nodeclipse.debug.launch.LaunchConfigurationType"   
             icon= "icons/nodejs.png"   
             id= "org.nodeclipse.debug.launch.LaunchConfigurationTypeImage" >   
       </launchConfigurationTypeImage>   
    </extension>  
    <extension   
          point= "org.eclipse.debug.ui.launchShortcuts" >   
       <shortcut   
             class= "org.nodeclipse.debug.launch.LaunchShortcut"   
             icon= "icons/nodejs.png"   
             id= "org.nodeclipse.debug.launch.LaunchShortcut"   
             label= "Nodejs Application"   
             modes= "run, debug" >   
          <configurationType
                id= "org.nodeclipse.debug.launch.LaunchConfigurationType" >
          </configurationType>   
           <contextualLaunch>   
              <enablement>   
                 <with   
                       variable= "selection" >   
                    <count   
                          value= "1" >   
                    </count>   
                    <iterate>   
                       <or>   
                          <test   
                                property= "org.eclipse.debug.ui.matchesPattern"   
                                value= "*.js" >   
                          </test>   
                       </or>   
                      </iterate>   
                     
                 </with>   
              </enablement>   
           </contextualLaunch>   
       </shortcut>   
   </extension>
   <extension
          point="org.eclipse.debug.ui.launchConfigurationTabGroups">
          <launchConfigurationTabGroup   
       		class= "org.nodeclipse.debug.launch.LaunchConfigurationTabGroup"   
      		id= "org.nodeclipse.debug.launch.LaunchConfigurationTabGroup"   
        	type= "org.nodeclipse.debug.launch.LaunchConfigurationType" >   
		  </launchConfigurationTabGroup>
   </extension>
</plugin>
